body {
	font-family: "Verdana", Arial, sans-serif;
	font-size: 16px;
	background-color: #d3d3d3;
	padding: 12 32;
}

a {
	text-decoration: none;
	color: blue;
}
a:visited {
	text-decoration: none;
	color: blue;
}
a:hover {
	color: red;
}

a.menu {
	text-decoration: none;
	color: white;
	padding: 11px 15px 11px 15px !important;
	font-size: 110%;
	display: inline-block;
	-webkit-transition:background-color 0.3s ease, color 0.3s ease;
	-moz-transition:background-color 0.3s ease, color 0.3s ease;
	transition:background-color 0.3s ease, color 0.3s ease;
}
a.activeMenu {
	color: white;
	background-color: #00C425;
}
a:visited.menu {
	text-decoration: none;
	color: white;
}
a:hover.menu {
	text-decoration: none;
	color: black;
	background-color: #3AF23A;
}

div#header, div#menu, div#main, div#footer {
	min-width: 960px;
	width: 80%;
	max-width: 1440px;
	margin: auto;
}

div#header {
}
div#header h1 {
	color: #008A44;
	font-size: 150%;
}

div.menu {
}
div#menu {
	height: 44px;
	text-align: center;
	background-color: #006446;
}
div.searchbar {
	text-align: left;
}
div.menuBar a {
	background-color: #C8C8C8;
	border: 1px solid grey;
	text-decoration: none;
	color: blue;
	padding: 2px 2px 2px 2px;
}
div.menuBar a:hover {
	background-color: #6DB2FF;
}
div.menuBar a:active {
	background-color: red;
}

div#tabs {
	display: inline-block;
	height: 100%;
	width: 100%;
}
div#tabs ul {
	text-align: center;
	background-color: #006446;
	float: left;
	height: 100%;
	margin-top: 0px;
}
div#tabs li a { 
	outline-color: transparent;
}
li.tab {
	list-style-type: none;
	font-size: 110%;
    float: left;
	clear: left;
	width: 100%;
	border-radius: 4px 0 0 4px;
}
li.ui-state-default {
	padding: 12 0 11 0;
	-webkit-transition:background-color 0.3s ease, color 0.3s ease;
	-moz-transition:background-color 0.3s ease, color 0.3s ease;
	transition:background-color 0.3s ease, color 0.3s ease;
}
li.ui-tabs-active {
	background-color: white;
}
li.ui-tabs-active a {
	color: black;
}
li.ui-state-hover {
	text-decoration: none;
	color: black;
	background-color: #3AF23A;
}
li.ui-state-focus {
	outline-color: transparent;
}
a.tab {
	color: white;
	padding: 12 10 11 10;
}
a:hover.tab {
	color: black;
}
div.tab-content {
	padding-top: 64px;
	padding-left: 32px;
	text-align: left;
	float: left;
	position: relative;
	width: 75%;
}

div#main {
	background-color: white;
	min-height: 720px;
}
div.content {
	margin: 0 12px 12px 12px;
}
div.content h2 {
	text-align: center;
	margin-top: 0;
	padding-top: 16px;
}
div.content h3 {
	color: #008A44;
}
div.content p {
	line-height: 32px;
	color: black;
}
div.content ul {
	color: #008A44;
}
div.content li {
	line-height: 32px;
}

div.footer {
	text-align: center;
}

div#months {
    display: inline-block;
    float: left;
	background-color: #006446;
	padding: 32 8 0 8;
    text-align: center;
}
div#months h3 {
	cursor:pointer;
	color: white;
	outline-color: transparent;
}
div#months p {
	color: black;
}
div#months a {
	display: block;
	text-align: center;
	line-height: 32px;
	color: black;
	text-decoration: underline;
	width: 100%;
	-webkit-transition:background-color 0.3s ease, color 0.3s ease;
	-moz-transition:background-color 0.3s ease, color 0.3s ease;
	transition:background-color 0.3s ease, color 0.3s ease;
	border-radius: 4px 4px 4px 4px;
}
div#months a.current {
	color: white;
	text-decoration: none;
	background-color: #00C425;
}
div#months a:visited {
	text-decoration: none;
}
div#months a:hover {
	text-decoration: none;
	color: black;
	background-color: #3AF23A;
}
div.ui-accordion-content {
	background-color: white;
	border-radius: 4px 4px 4px 4px;
}
div#activity-entry {
	display: inline-block;
    padding-top: 32px;
	padding-left: 32px;
}

div.buffer {
	padding-top: 16px;
}

div.right-align {
	width: 70%;
	padding: 10px;
	text-align: right;
	margin: auto;
}

input.customText {
	background-color: white;
	border: 1px solid grey;
	color: black;
	height: 24px;
	padding-left: 5px;
	padding-right: 5px;
}

input.customButton {
	font-size: 16px;
	background-color: #C8C8C8;
	width: 120px;
	height: 30px;
	border: 1px solid grey;
}
input.customButton:hover {
	background-color: #6DB2FF;
}
input.customButton:active {
	background-color: red;
}

input[readonly] {
    border: 0px;
	font-family: inherit;
	font-size: inherit;
	padding-left: 0px;
}
table.itemLayout {
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
table.itemLayout tr:hover td {
	background-color: #b8d1f3;
}
table.itemLayout td {
	padding-right: 24px;
}